---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import "../styles/tobii.min.css"; 
import { animate } from 'motion';
import Forbruger from "../components/Forbruger.astro";
import Formular from "../components/Formular.astro";
import Forskel from "../components/Forskel.astro";
import Problemet from "../components/Problemet.astro";
import Merchandise from "../components/Merchandise.astro";
import Skildpadde from "../components/Skildpadde.astro";
import Plastikforurening from "../components/Plastikforurening.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="Single Use Sucks">

<div class="container">
    <article x-data="{ scrollPos: 0, showProgressBar: true }" 
         @scroll.window="scrollPos = window.scrollY; showProgressBar = scrollPos > 0;">
    <!-- Progress Bar -->
    <div x-show="showProgressBar" class="progress-container fixed top-0 left-0 w-2 h-full bg-transparent z-50">
        <div class="progress-bar w-full" :style="{ height: (scrollPos / (document.body.scrollHeight - window.innerHeight) * 100) + '%' }"></div>
    </div>
 	
    <!-- Indhold -->
    <h1 class="text-2xl md:text-3xl lg:text-4xl mt-52">DETTE ER EN TEST</h1>
    <Button class="mb-4">Klik!</Button>
    <p class="text-sm md:text-base space-y-4">Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <p class="text">Dette er en brødtekst, som bruger den mørke grå farve.</p>
    <Image src={thumbsup} alt="" class="w-full max-w-sm mx-auto mb-4"></Image>
    </article>
</div>

</MainLayout>

<script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script>

<script is:inline src="/tobii.min.js"></script>
<script defer>
	const tobii = new Tobii(); 
</script>

<script>
    /* Import af Motion One biblioteket */
    import { animate, stagger, scroll, inView as motionInView, timeline } from '@motionone/dom';
    import type { TimelineSegment } from '@motionone/dom';
</script>