---
---

 <!-- Eksisterende knap -->
 <button id="button" class="button h-24 w-24 rounded-full flex items-center justify-center transition-transform duration-300 hover:scale-125" aria-label="Eksisterende knap">
    <slot />
</button>