---
---
<!-- bølge svg med txt -->
<div class="relative md:h-48 md:w-auto h-32 md:mt-0 bg-[#E6F6FF]">
    <h3 class="text-center pl-9 pt-6 text-white text-lg font-normal md:text-3xl relative z-50 top-32 md:relative md:top-48 md:pl-0 md:pr-10">Tilmeld dig herunder til vores nyhedsbrev</h3>
    <div class="md:w-100% md:h-auto">
        <svg
            class="md:w-100% absolute bottom-0 left-0"
            viewBox="0 0 1726 514"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="transform: translateY(50%);"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.06142 73.9725L1.80475e-05 509.026L1726.37 513.238L1727.46 66.6983C1617.95 65.6432 1518.12 77.6781 1439.66 94.3655C1235.26 137.838 1176.07 119.224 1055.99 81.4646C1006.95 66.0435 947.752 47.4291 864.363 28.5467C671.036 -15.2296 607.607 -0.463728 499.347 24.7385C446.571 37.0242 383.142 51.7901 288.817 63.4631C144.909 81.2723 72.9766 81.0968 1.06142 73.9725Z" fill="#013755"/>
        </svg>
    </div>
</div>

<!-- for at få bobler til at følge musen -->


<!-- footer uden bølger begynder her -->
<div class="w-full mx-auto p-10 md:p-0 text-white bg-[#013755] pt-20">
    <div class="flex flex-col-3 pt-8 md:flex md:flex-col-3 md:md:place-items-center md:px-24 md:relative md:top-[-100]">
     <!-- bobler på venstre side -->
      <div class="follow_cursor w-52 md:w-38 relative top-[1300px] transition-transform duration-300 ease-out md:relative md:top-[0px] md:transition-transform md:duration-300 md:ease-out pl-1">
        <svg width="" height="" viewBox="0 0 257 478" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.32" d="M84.5194 164.473C127.23 164.473 161.853 128.489 161.853 84.0994C161.853 39.7102 127.23 3.72559 84.5194 3.72559C41.8092 3.72559 7.18579 39.7102 7.18579 84.0994C7.18579 128.489 41.8092 164.473 84.5194 164.473Z" fill="#0077B6"/>
            <path style="mix-blend-mode:overlay" d="M85.7769 164.433C129.266 164.433 164.521 127.792 164.521 82.5934C164.521 37.3947 129.266 0.753906 85.7769 0.753906C42.2879 0.753906 7.03308 37.3947 7.03308 82.5934C7.03308 127.792 42.2879 164.433 85.7769 164.433Z" fill="url(#paint0_radial_562_34)"/>
            <path opacity="0.1" d="M159.414 83.6613C159.414 92.6137 157.927 101.17 155.221 109.172C145.121 138.881 117.831 160.193 85.777 160.193C53.723 160.193 26.4333 138.881 16.3331 109.172C13.627 101.17 12.1405 92.6137 12.1405 83.6613C12.1405 41.3947 45.1092 7.12988 85.777 7.12988C126.445 7.12988 159.414 41.3947 159.414 83.6613Z" fill="white"/>
            <path opacity="0.06" d="M36.6859 117.648C26.4714 114.598 18.2006 104.497 14.7703 91.2661C13.665 86.988 13.0552 82.3929 13.0552 77.5998C13.0552 58.6254 22.4694 42.7012 35.2757 37.9873C26.7 47.019 21.1735 61.2002 21.1735 77.1245C21.1735 82.9079 21.8977 88.4536 23.2317 93.6033C25.7853 103.427 30.5115 111.785 36.6478 117.648H36.6859Z" fill="white"/>
            <path opacity="0.06" d="M116.535 21.3926C130.104 24.4031 141.805 36.8415 147.408 53.756C149.237 59.2225 150.419 65.1644 150.838 71.4232C152.477 96.1414 141.576 117.849 125.263 125.217C135.668 112.62 141.652 93.6062 140.242 72.8096C139.747 65.2436 138.298 58.1134 136.126 51.4981C131.971 38.9409 125.035 28.4436 116.497 21.3926H116.535Z" fill="white"/>
            <path d="M53.3039 32.9189C59.8294 32.9189 65.1193 27.3146 65.1193 20.4013C65.1193 13.4881 59.8294 7.88379 53.3039 7.88379C46.7785 7.88379 41.4885 13.4881 41.4885 20.4013C41.4885 27.3146 46.7785 32.9189 53.3039 32.9189Z" fill="url(#paint1_radial_562_34)"/>
            <path d="M16.0612 75.059C17.0601 65.1811 14.6794 56.8249 10.7437 56.395C6.808 55.9651 2.80768 63.6242 1.80874 73.5021C0.809801 83.3801 3.19051 91.7362 7.12621 92.1661C11.0619 92.5961 15.0622 84.9369 16.0612 75.059Z" fill="url(#paint2_radial_562_34)"/>
            <path d="M162.473 105.591C166.34 96.5083 166.541 87.796 162.922 86.1317C159.304 84.4673 153.235 90.4811 149.368 99.5639C145.5 108.647 145.299 117.359 148.918 119.023C152.537 120.688 158.606 114.674 162.473 105.591Z" fill="url(#paint3_radial_562_34)"/>
            <path d="M117.335 57.9135C133.102 57.9135 145.883 44.9491 145.883 28.9567C145.883 12.9644 133.102 0 117.335 0C101.569 0 88.788 12.9644 88.788 28.9567C88.788 44.9491 101.569 57.9135 117.335 57.9135Z" fill="url(#paint4_radial_562_34)"/>
            <path opacity="0.32" d="M192.725 339.636C224.847 339.636 250.887 312.572 250.887 279.187C250.887 245.802 224.847 218.738 192.725 218.738C160.603 218.738 134.563 245.802 134.563 279.187C134.563 312.572 160.603 339.636 192.725 339.636Z" fill="#0077B6"/>
            <path style="mix-blend-mode:overlay" d="M193.64 339.597C226.331 339.597 252.831 312.054 252.831 278.079C252.831 244.103 226.331 216.561 193.64 216.561C160.95 216.561 134.449 244.103 134.449 278.079C134.449 312.054 160.95 339.597 193.64 339.597Z" fill="url(#paint5_radial_562_34)"/>
            <path opacity="0.1" d="M249.02 278.868C249.02 285.602 247.915 292.019 245.856 298.04C238.272 320.381 217.728 336.385 193.64 336.385C169.552 336.385 149.047 320.381 141.424 298.04C139.366 292.019 138.26 285.602 138.26 278.868C138.26 247.098 163.034 221.311 193.64 221.311C224.246 221.311 249.02 247.059 249.02 278.868Z" fill="white"/>
            <path opacity="0.06" d="M156.746 304.42C149.085 302.122 142.834 294.516 140.28 284.574C139.442 281.365 138.984 277.919 138.984 274.314C138.984 260.053 146.074 248.051 155.717 244.525C149.275 251.339 145.121 261.995 145.121 273.958C145.121 278.315 145.654 282.474 146.684 286.356C148.589 293.724 152.172 300.023 156.784 304.459L156.746 304.42Z" fill="white"/>
            <path opacity="0.06" d="M216.776 232.046C226.99 234.304 235.756 243.652 239.987 256.408C241.359 260.527 242.236 265.003 242.579 269.717C243.837 288.335 235.604 304.616 223.369 310.162C231.183 300.694 235.68 286.394 234.651 270.747C234.27 265.083 233.203 259.695 231.564 254.704C228.439 245.276 223.217 237.354 216.814 232.046H216.776Z" fill="white"/>
            <path d="M169.247 240.724C174.152 240.724 178.128 236.503 178.128 231.296C178.128 226.089 174.152 221.868 169.247 221.868C164.342 221.868 160.366 226.089 160.366 231.296C160.366 236.503 164.342 240.724 169.247 240.724Z" fill="url(#paint6_radial_562_34)"/>
            <path d="M141.195 272.386C141.945 264.967 140.161 258.691 137.209 258.368C134.257 258.046 131.256 263.799 130.506 271.218C129.755 278.638 131.54 284.914 134.492 285.236C137.443 285.559 140.445 279.805 141.195 272.386Z" fill="url(#paint7_radial_562_34)"/>
            <path d="M251.331 295.335C254.235 288.513 254.39 281.97 251.676 280.722C248.962 279.474 244.407 283.992 241.502 290.815C238.597 297.637 238.443 304.179 241.157 305.427C243.871 306.675 248.426 302.157 251.331 295.335Z" fill="url(#paint8_radial_562_34)"/>
            <path d="M217.385 259.459C229.236 259.459 238.843 249.723 238.843 237.712C238.843 225.701 229.236 215.965 217.385 215.965C205.534 215.965 195.927 225.701 195.927 237.712C195.927 249.723 205.534 259.459 217.385 259.459Z" fill="url(#paint9_radial_562_34)"/>
            <path opacity="0.32" d="M65.1572 477.409C91.7432 477.409 113.295 455.009 113.295 427.378C113.295 399.747 91.7432 377.348 65.1572 377.348C38.5712 377.348 17.019 399.747 17.019 427.378C17.019 455.009 38.5712 477.409 65.1572 477.409Z" fill="#0077B6"/>
            <path style="mix-blend-mode:overlay" d="M65.9196 477.37C92.9897 477.37 114.934 454.562 114.934 426.428C114.934 398.294 92.9897 375.486 65.9196 375.486C38.8494 375.486 16.9048 398.294 16.9048 426.428C16.9048 454.562 38.8494 477.37 65.9196 477.37Z" fill="url(#paint10_radial_562_34)"/>
            <path opacity="0.1" d="M111.771 427.102C111.771 432.687 110.856 437.996 109.179 442.987C102.89 461.486 85.8914 474.756 65.9577 474.756C46.024 474.756 29.0251 461.486 22.7363 442.987C21.0593 437.996 20.1445 432.687 20.1445 427.102C20.1445 400.799 40.6881 379.448 65.9958 379.448C91.3036 379.448 111.847 400.799 111.847 427.102H111.771Z" fill="white"/>
            <path opacity="0.06" d="M35.352 448.255C28.9869 446.353 23.8415 440.055 21.7071 431.815C21.021 429.161 20.6399 426.309 20.6399 423.299C20.6399 411.494 26.5095 401.551 34.4753 398.62C29.1393 404.245 25.7091 413.079 25.7091 422.982C25.7091 426.587 26.1664 430.033 27.005 433.241C28.5676 439.342 31.5405 444.571 35.352 448.215V448.255Z" fill="white"/>
            <path opacity="0.06" d="M85.0908 388.322C93.5522 390.184 100.832 397.948 104.338 408.485C105.482 411.892 106.206 415.576 106.473 419.497C107.502 434.907 100.718 448.414 90.5793 452.97C97.0587 445.127 100.756 433.282 99.9172 420.329C99.6123 415.615 98.6976 411.179 97.3636 407.059C94.7718 399.255 90.4649 392.719 85.1671 388.322H85.0908Z" fill="white"/>
            <path d="M45.7191 395.531C49.7817 395.531 53.0751 392.037 53.0751 387.727C53.0751 383.418 49.7817 379.924 45.7191 379.924C41.6564 379.924 38.363 383.418 38.363 387.727C38.363 392.037 41.6564 395.531 45.7191 395.531Z" fill="url(#paint11_radial_562_34)"/>
            <path d="M22.5212 421.762C23.1439 415.605 21.6631 410.397 19.2138 410.129C16.7645 409.861 14.2741 414.636 13.6514 420.793C13.0287 426.951 14.5095 432.159 16.9588 432.427C19.4082 432.694 21.8986 427.92 22.5212 421.762Z" fill="url(#paint12_radial_562_34)"/>
            <path d="M113.68 440.784C116.091 435.122 116.219 429.693 113.967 428.657C111.715 427.621 107.935 431.371 105.524 437.033C103.114 442.694 102.985 448.124 105.237 449.16C107.49 450.195 111.269 446.445 113.68 440.784Z" fill="url(#paint13_radial_562_34)"/>
            <path d="M85.5864 411.058C95.3956 411.058 103.348 402.989 103.348 393.034C103.348 383.08 95.3956 375.011 85.5864 375.011C75.7772 375.011 67.8252 383.08 67.8252 393.034C67.8252 402.989 75.7772 411.058 85.5864 411.058Z" fill="url(#paint14_radial_562_34)"/>
            <defs>
            <radialGradient id="paint0_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(85.7769 82.5934) scale(78.7438 81.8395)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.17" stop-color="#FBFCFD" stop-opacity="0.02"/>
            <stop offset="0.32" stop-color="#EFF3F9" stop-opacity="0.08"/>
            <stop offset="0.46" stop-color="#DCE5F1" stop-opacity="0.18"/>
            <stop offset="0.6" stop-color="#C1D1E7" stop-opacity="0.32"/>
            <stop offset="0.73" stop-color="#9DB7D9" stop-opacity="0.5"/>
            <stop offset="0.86" stop-color="#7297C9" stop-opacity="0.72"/>
            <stop offset="0.99" stop-color="#4073B6" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#3B6FB4"/>
            </radialGradient>
            <radialGradient id="paint1_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(53.5112 20.3847) scale(11.887 12.4886)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.11" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.25" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.52" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.65" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.76" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint2_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(9.18967 74.3084) rotate(6.23405) scale(7.09767 17.9762)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint3_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(157.115 103.127) rotate(24.6981) scale(7.14098 17.8672)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint4_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(117.637 29.0284) scale(28.5894 29.0277)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint5_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(193.64 278.079) scale(59.1913 61.5182)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.17" stop-color="#FBFCFD" stop-opacity="0.02"/>
            <stop offset="0.32" stop-color="#EFF3F9" stop-opacity="0.08"/>
            <stop offset="0.46" stop-color="#DCE5F1" stop-opacity="0.18"/>
            <stop offset="0.6" stop-color="#C1D1E7" stop-opacity="0.32"/>
            <stop offset="0.73" stop-color="#9DB7D9" stop-opacity="0.5"/>
            <stop offset="0.86" stop-color="#7297C9" stop-opacity="0.72"/>
            <stop offset="0.99" stop-color="#4073B6" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#3B6FB4"/>
            </radialGradient>
            <radialGradient id="paint6_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(170.032 230.7) scale(8.94158 9.39411)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.11" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.25" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.52" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.65" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.76" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint7_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(134.734 271.68) rotate(6.23405) scale(5.33107 13.502)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint8_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(246.246 293.04) rotate(24.6981) scale(5.3636 13.4201)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint9_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(217.873 238.508) scale(21.504 21.8336)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint10_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(65.9196 426.428) scale(49.0148 50.9417)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.17" stop-color="#FBFCFD" stop-opacity="0.02"/>
            <stop offset="0.32" stop-color="#EFF3F9" stop-opacity="0.08"/>
            <stop offset="0.46" stop-color="#DCE5F1" stop-opacity="0.18"/>
            <stop offset="0.6" stop-color="#C1D1E7" stop-opacity="0.32"/>
            <stop offset="0.73" stop-color="#9DB7D9" stop-opacity="0.5"/>
            <stop offset="0.86" stop-color="#7297C9" stop-opacity="0.72"/>
            <stop offset="0.99" stop-color="#4073B6" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#3B6FB4"/>
            </radialGradient>
            <radialGradient id="paint11_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(45.902 386.717) scale(7.39872 7.77315)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.11" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.25" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.52" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.65" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.76" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint12_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.9203 421.26) rotate(6.23405) scale(4.42431 11.2054)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint13_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(110.001 439.092) rotate(24.6981) scale(4.45133 11.1375)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint14_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(85.8265 394.313) scale(17.7879 18.0605)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
      </div>

     <!-- form -->
     <form class="pb-4 text-center place-items-center pl-3 pr-3 md:px-24">
        <div class="">
            <input type="text" class="w-52 h-10 md:w-96 md:h-12  bg-gray-100 text-black border-transparent rounded-md" id="navn" placeholder="Skriv din email her">
            <button class="w-52 md:w-60 h-10 md:h-12 bg-[#FF6F3C] py-1 text-darkblue rounded-md hover:text-white hover:scale-105">
                <p>Tilmeld</p>
            </button>
        </div> 
       </form>

       <!-- bobler på højre side -->
       <div class="follow_cursor w-52 md:w-38 relative top-[1300px] transition-transform duration-300 ease-out md:relative md:top-[0px] md:transition-transform md:duration-300 md:ease-out pl-2">
        <svg width="" height="" viewBox="0 0 257 478" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.32" d="M84.5194 164.473C127.23 164.473 161.853 128.489 161.853 84.0994C161.853 39.7102 127.23 3.72559 84.5194 3.72559C41.8092 3.72559 7.18579 39.7102 7.18579 84.0994C7.18579 128.489 41.8092 164.473 84.5194 164.473Z" fill="#0077B6"/>
            <path style="mix-blend-mode:overlay" d="M85.7769 164.433C129.266 164.433 164.521 127.792 164.521 82.5934C164.521 37.3947 129.266 0.753906 85.7769 0.753906C42.2879 0.753906 7.03308 37.3947 7.03308 82.5934C7.03308 127.792 42.2879 164.433 85.7769 164.433Z" fill="url(#paint0_radial_562_34)"/>
            <path opacity="0.1" d="M159.414 83.6613C159.414 92.6137 157.927 101.17 155.221 109.172C145.121 138.881 117.831 160.193 85.777 160.193C53.723 160.193 26.4333 138.881 16.3331 109.172C13.627 101.17 12.1405 92.6137 12.1405 83.6613C12.1405 41.3947 45.1092 7.12988 85.777 7.12988C126.445 7.12988 159.414 41.3947 159.414 83.6613Z" fill="white"/>
            <path opacity="0.06" d="M36.6859 117.648C26.4714 114.598 18.2006 104.497 14.7703 91.2661C13.665 86.988 13.0552 82.3929 13.0552 77.5998C13.0552 58.6254 22.4694 42.7012 35.2757 37.9873C26.7 47.019 21.1735 61.2002 21.1735 77.1245C21.1735 82.9079 21.8977 88.4536 23.2317 93.6033C25.7853 103.427 30.5115 111.785 36.6478 117.648H36.6859Z" fill="white"/>
            <path opacity="0.06" d="M116.535 21.3926C130.104 24.4031 141.805 36.8415 147.408 53.756C149.237 59.2225 150.419 65.1644 150.838 71.4232C152.477 96.1414 141.576 117.849 125.263 125.217C135.668 112.62 141.652 93.6062 140.242 72.8096C139.747 65.2436 138.298 58.1134 136.126 51.4981C131.971 38.9409 125.035 28.4436 116.497 21.3926H116.535Z" fill="white"/>
            <path d="M53.3039 32.9189C59.8294 32.9189 65.1193 27.3146 65.1193 20.4013C65.1193 13.4881 59.8294 7.88379 53.3039 7.88379C46.7785 7.88379 41.4885 13.4881 41.4885 20.4013C41.4885 27.3146 46.7785 32.9189 53.3039 32.9189Z" fill="url(#paint1_radial_562_34)"/>
            <path d="M16.0612 75.059C17.0601 65.1811 14.6794 56.8249 10.7437 56.395C6.808 55.9651 2.80768 63.6242 1.80874 73.5021C0.809801 83.3801 3.19051 91.7362 7.12621 92.1661C11.0619 92.5961 15.0622 84.9369 16.0612 75.059Z" fill="url(#paint2_radial_562_34)"/>
            <path d="M162.473 105.591C166.34 96.5083 166.541 87.796 162.922 86.1317C159.304 84.4673 153.235 90.4811 149.368 99.5639C145.5 108.647 145.299 117.359 148.918 119.023C152.537 120.688 158.606 114.674 162.473 105.591Z" fill="url(#paint3_radial_562_34)"/>
            <path d="M117.335 57.9135C133.102 57.9135 145.883 44.9491 145.883 28.9567C145.883 12.9644 133.102 0 117.335 0C101.569 0 88.788 12.9644 88.788 28.9567C88.788 44.9491 101.569 57.9135 117.335 57.9135Z" fill="url(#paint4_radial_562_34)"/>
            <path opacity="0.32" d="M192.725 339.636C224.847 339.636 250.887 312.572 250.887 279.187C250.887 245.802 224.847 218.738 192.725 218.738C160.603 218.738 134.563 245.802 134.563 279.187C134.563 312.572 160.603 339.636 192.725 339.636Z" fill="#0077B6"/>
            <path style="mix-blend-mode:overlay" d="M193.64 339.597C226.331 339.597 252.831 312.054 252.831 278.079C252.831 244.103 226.331 216.561 193.64 216.561C160.95 216.561 134.449 244.103 134.449 278.079C134.449 312.054 160.95 339.597 193.64 339.597Z" fill="url(#paint5_radial_562_34)"/>
            <path opacity="0.1" d="M249.02 278.868C249.02 285.602 247.915 292.019 245.856 298.04C238.272 320.381 217.728 336.385 193.64 336.385C169.552 336.385 149.047 320.381 141.424 298.04C139.366 292.019 138.26 285.602 138.26 278.868C138.26 247.098 163.034 221.311 193.64 221.311C224.246 221.311 249.02 247.059 249.02 278.868Z" fill="white"/>
            <path opacity="0.06" d="M156.746 304.42C149.085 302.122 142.834 294.516 140.28 284.574C139.442 281.365 138.984 277.919 138.984 274.314C138.984 260.053 146.074 248.051 155.717 244.525C149.275 251.339 145.121 261.995 145.121 273.958C145.121 278.315 145.654 282.474 146.684 286.356C148.589 293.724 152.172 300.023 156.784 304.459L156.746 304.42Z" fill="white"/>
            <path opacity="0.06" d="M216.776 232.046C226.99 234.304 235.756 243.652 239.987 256.408C241.359 260.527 242.236 265.003 242.579 269.717C243.837 288.335 235.604 304.616 223.369 310.162C231.183 300.694 235.68 286.394 234.651 270.747C234.27 265.083 233.203 259.695 231.564 254.704C228.439 245.276 223.217 237.354 216.814 232.046H216.776Z" fill="white"/>
            <path d="M169.247 240.724C174.152 240.724 178.128 236.503 178.128 231.296C178.128 226.089 174.152 221.868 169.247 221.868C164.342 221.868 160.366 226.089 160.366 231.296C160.366 236.503 164.342 240.724 169.247 240.724Z" fill="url(#paint6_radial_562_34)"/>
            <path d="M141.195 272.386C141.945 264.967 140.161 258.691 137.209 258.368C134.257 258.046 131.256 263.799 130.506 271.218C129.755 278.638 131.54 284.914 134.492 285.236C137.443 285.559 140.445 279.805 141.195 272.386Z" fill="url(#paint7_radial_562_34)"/>
            <path d="M251.331 295.335C254.235 288.513 254.39 281.97 251.676 280.722C248.962 279.474 244.407 283.992 241.502 290.815C238.597 297.637 238.443 304.179 241.157 305.427C243.871 306.675 248.426 302.157 251.331 295.335Z" fill="url(#paint8_radial_562_34)"/>
            <path d="M217.385 259.459C229.236 259.459 238.843 249.723 238.843 237.712C238.843 225.701 229.236 215.965 217.385 215.965C205.534 215.965 195.927 225.701 195.927 237.712C195.927 249.723 205.534 259.459 217.385 259.459Z" fill="url(#paint9_radial_562_34)"/>
            <path opacity="0.32" d="M65.1572 477.409C91.7432 477.409 113.295 455.009 113.295 427.378C113.295 399.747 91.7432 377.348 65.1572 377.348C38.5712 377.348 17.019 399.747 17.019 427.378C17.019 455.009 38.5712 477.409 65.1572 477.409Z" fill="#0077B6"/>
            <path style="mix-blend-mode:overlay" d="M65.9196 477.37C92.9897 477.37 114.934 454.562 114.934 426.428C114.934 398.294 92.9897 375.486 65.9196 375.486C38.8494 375.486 16.9048 398.294 16.9048 426.428C16.9048 454.562 38.8494 477.37 65.9196 477.37Z" fill="url(#paint10_radial_562_34)"/>
            <path opacity="0.1" d="M111.771 427.102C111.771 432.687 110.856 437.996 109.179 442.987C102.89 461.486 85.8914 474.756 65.9577 474.756C46.024 474.756 29.0251 461.486 22.7363 442.987C21.0593 437.996 20.1445 432.687 20.1445 427.102C20.1445 400.799 40.6881 379.448 65.9958 379.448C91.3036 379.448 111.847 400.799 111.847 427.102H111.771Z" fill="white"/>
            <path opacity="0.06" d="M35.352 448.255C28.9869 446.353 23.8415 440.055 21.7071 431.815C21.021 429.161 20.6399 426.309 20.6399 423.299C20.6399 411.494 26.5095 401.551 34.4753 398.62C29.1393 404.245 25.7091 413.079 25.7091 422.982C25.7091 426.587 26.1664 430.033 27.005 433.241C28.5676 439.342 31.5405 444.571 35.352 448.215V448.255Z" fill="white"/>
            <path opacity="0.06" d="M85.0908 388.322C93.5522 390.184 100.832 397.948 104.338 408.485C105.482 411.892 106.206 415.576 106.473 419.497C107.502 434.907 100.718 448.414 90.5793 452.97C97.0587 445.127 100.756 433.282 99.9172 420.329C99.6123 415.615 98.6976 411.179 97.3636 407.059C94.7718 399.255 90.4649 392.719 85.1671 388.322H85.0908Z" fill="white"/>
            <path d="M45.7191 395.531C49.7817 395.531 53.0751 392.037 53.0751 387.727C53.0751 383.418 49.7817 379.924 45.7191 379.924C41.6564 379.924 38.363 383.418 38.363 387.727C38.363 392.037 41.6564 395.531 45.7191 395.531Z" fill="url(#paint11_radial_562_34)"/>
            <path d="M22.5212 421.762C23.1439 415.605 21.6631 410.397 19.2138 410.129C16.7645 409.861 14.2741 414.636 13.6514 420.793C13.0287 426.951 14.5095 432.159 16.9588 432.427C19.4082 432.694 21.8986 427.92 22.5212 421.762Z" fill="url(#paint12_radial_562_34)"/>
            <path d="M113.68 440.784C116.091 435.122 116.219 429.693 113.967 428.657C111.715 427.621 107.935 431.371 105.524 437.033C103.114 442.694 102.985 448.124 105.237 449.16C107.49 450.195 111.269 446.445 113.68 440.784Z" fill="url(#paint13_radial_562_34)"/>
            <path d="M85.5864 411.058C95.3956 411.058 103.348 402.989 103.348 393.034C103.348 383.08 95.3956 375.011 85.5864 375.011C75.7772 375.011 67.8252 383.08 67.8252 393.034C67.8252 402.989 75.7772 411.058 85.5864 411.058Z" fill="url(#paint14_radial_562_34)"/>
            <defs>
            <radialGradient id="paint0_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(85.7769 82.5934) scale(78.7438 81.8395)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.17" stop-color="#FBFCFD" stop-opacity="0.02"/>
            <stop offset="0.32" stop-color="#EFF3F9" stop-opacity="0.08"/>
            <stop offset="0.46" stop-color="#DCE5F1" stop-opacity="0.18"/>
            <stop offset="0.6" stop-color="#C1D1E7" stop-opacity="0.32"/>
            <stop offset="0.73" stop-color="#9DB7D9" stop-opacity="0.5"/>
            <stop offset="0.86" stop-color="#7297C9" stop-opacity="0.72"/>
            <stop offset="0.99" stop-color="#4073B6" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#3B6FB4"/>
            </radialGradient>
            <radialGradient id="paint1_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(53.5112 20.3847) scale(11.887 12.4886)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.11" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.25" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.52" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.65" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.76" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint2_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(9.18967 74.3084) rotate(6.23405) scale(7.09767 17.9762)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint3_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(157.115 103.127) rotate(24.6981) scale(7.14098 17.8672)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint4_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(117.637 29.0284) scale(28.5894 29.0277)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint5_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(193.64 278.079) scale(59.1913 61.5182)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.17" stop-color="#FBFCFD" stop-opacity="0.02"/>
            <stop offset="0.32" stop-color="#EFF3F9" stop-opacity="0.08"/>
            <stop offset="0.46" stop-color="#DCE5F1" stop-opacity="0.18"/>
            <stop offset="0.6" stop-color="#C1D1E7" stop-opacity="0.32"/>
            <stop offset="0.73" stop-color="#9DB7D9" stop-opacity="0.5"/>
            <stop offset="0.86" stop-color="#7297C9" stop-opacity="0.72"/>
            <stop offset="0.99" stop-color="#4073B6" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#3B6FB4"/>
            </radialGradient>
            <radialGradient id="paint6_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(170.032 230.7) scale(8.94158 9.39411)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.11" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.25" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.52" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.65" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.76" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint7_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(134.734 271.68) rotate(6.23405) scale(5.33107 13.502)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint8_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(246.246 293.04) rotate(24.6981) scale(5.3636 13.4201)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint9_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(217.873 238.508) scale(21.504 21.8336)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint10_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(65.9196 426.428) scale(49.0148 50.9417)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.17" stop-color="#FBFCFD" stop-opacity="0.02"/>
            <stop offset="0.32" stop-color="#EFF3F9" stop-opacity="0.08"/>
            <stop offset="0.46" stop-color="#DCE5F1" stop-opacity="0.18"/>
            <stop offset="0.6" stop-color="#C1D1E7" stop-opacity="0.32"/>
            <stop offset="0.73" stop-color="#9DB7D9" stop-opacity="0.5"/>
            <stop offset="0.86" stop-color="#7297C9" stop-opacity="0.72"/>
            <stop offset="0.99" stop-color="#4073B6" stop-opacity="0.97"/>
            <stop offset="1" stop-color="#3B6FB4"/>
            </radialGradient>
            <radialGradient id="paint11_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(45.902 386.717) scale(7.39872 7.77315)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.11" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.25" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.52" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.65" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.76" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint12_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.9203 421.26) rotate(6.23405) scale(4.42431 11.2054)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint13_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(110.001 439.092) rotate(24.6981) scale(4.45133 11.1375)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint14_radial_562_34" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(85.8265 394.313) scale(17.7879 18.0605)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="white" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="white" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="white" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="white" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="white" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="white" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="white" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
            

       </div>



    </div>
   
           <!-- SoMe ikoner -->
        <div class="flex justify-center space-x-8 pt-14 pb-4 md:pb-10 md:pt-10 md:flex md:flex-col-5 md:space-x-14">
            <a href="https://x.com/i/flow/login?redirect_after_login=%2Fplasticchange">
                <svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M39.3771 0.5H47.0437L30.2937 21.6819L50 50.5H34.5708L22.4875 33.0197L8.65833 50.5H0.9875L18.9042 27.8429L0 0.502305H15.8208L26.7437 16.4798L39.3771 0.5ZM36.6875 45.4246H40.9354L13.5125 5.31031H8.95417L36.6875 45.4246Z" fill="white"/></svg>
            </a>
            <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g" aria-label="YouTube">
                <svg width="35" height="36" class="md:w-10 md:h-10" viewBox="0 0 70 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70 25.2845C70 25.1153 70 24.9229 69.9922 24.6998C69.9844 24.0765 69.9688 23.3763 69.9531 22.6299C69.8906 20.4831 69.7812 18.344 69.6094 16.3279C69.375 13.5502 69.0312 11.2341 68.5625 9.49507C68.0678 7.68028 67.0982 6.02515 65.7505 4.69511C64.4029 3.36507 62.7244 2.40671 60.8828 1.91582C58.6719 1.33102 54.3438 0.969375 48.25 0.746229C45.3516 0.638504 42.25 0.569252 39.1484 0.530778C38.0625 0.515389 37.0547 0.507695 36.1484 0.5H33.8516C32.9453 0.507695 31.9375 0.515389 30.8516 0.530778C27.75 0.569252 24.6484 0.638504 21.75 0.746229C15.6562 0.97707 11.3203 1.33872 9.11719 1.91582C7.27501 2.4055 5.59585 3.36346 4.248 4.69369C2.90015 6.02391 1.93094 7.67969 1.4375 9.49507C0.960938 11.2341 0.625 13.5502 0.390625 16.3279C0.21875 18.344 0.109375 20.4831 0.0468749 22.6299C0.0234374 23.3763 0.0156249 24.0765 0.00781238 24.6998C0.00781238 24.9229 0 25.1153 0 25.2845V25.7154C0 25.8847 -1.19326e-07 26.0771 0.00781238 26.3002C0.0156249 26.9235 0.0312499 27.6237 0.0468749 28.3701C0.109375 30.5169 0.21875 32.656 0.390625 34.6721C0.625 37.4498 0.96875 39.7659 1.4375 41.5049C2.4375 45.1907 5.375 48.0993 9.11719 49.0842C11.3203 49.669 15.6562 50.0306 21.75 50.2538C24.6484 50.3615 27.75 50.4307 30.8516 50.4692C31.9375 50.4846 32.9453 50.4923 33.8516 50.5H36.1484C37.0547 50.4923 38.0625 50.4846 39.1484 50.4692C42.25 50.4307 45.3516 50.3615 48.25 50.2538C54.3438 50.0229 58.6797 49.6613 60.8828 49.0842C64.625 48.0993 67.5625 45.1984 68.5625 41.5049C69.0391 39.7659 69.375 37.4498 69.6094 34.6721C69.7812 32.656 69.8906 30.5169 69.9531 28.3701C69.9766 27.6237 69.9844 26.9235 69.9922 26.3002C69.9922 26.0771 70 25.8847 70 25.7154V25.2845ZM64.375 25.6847C64.375 25.8463 64.375 26.0232 64.3672 26.231C64.3594 26.8312 64.3438 27.4929 64.3281 28.2085C64.2734 30.2553 64.1641 32.3021 64 34.2027C63.7891 36.6804 63.4922 38.7118 63.125 40.0737C62.6406 41.8512 61.2188 43.2593 59.4219 43.7287C57.7812 44.1596 53.6484 44.5058 48.0312 44.7136C45.1875 44.8213 42.125 44.8906 39.0703 44.9291C38 44.9444 37.0078 44.9521 36.1172 44.9521H33.8828L30.9297 44.9291C27.875 44.8906 24.8203 44.8213 21.9688 44.7136C16.3516 44.4981 12.2109 44.1596 10.5781 43.7287C8.78125 43.2516 7.35938 41.8512 6.875 40.0737C6.50781 38.7118 6.21094 36.6804 6 34.2027C5.83594 32.3021 5.73438 30.2553 5.67188 28.2085C5.64844 27.4929 5.64063 26.8235 5.63281 26.231C5.63281 26.0232 5.625 25.8386 5.625 25.6847V25.3153C5.625 25.1537 5.625 24.9768 5.63281 24.769C5.64063 24.1688 5.65625 23.5071 5.67188 22.7915C5.72656 20.7447 5.83594 18.6979 6 16.7973C6.21094 14.3196 6.50781 12.2882 6.875 10.9263C7.35938 9.14882 8.78125 7.74069 10.5781 7.27131C12.2188 6.84041 16.3516 6.49415 21.9688 6.28639C24.8125 6.17867 27.875 6.10942 30.9297 6.07094C32 6.05555 32.9922 6.04786 33.8828 6.04786H36.1172L39.0703 6.07094C42.125 6.10942 45.1797 6.17867 48.0312 6.28639C53.6484 6.50184 57.7891 6.84041 59.4219 7.27131C61.2188 7.74838 62.6406 9.14882 63.125 10.9263C63.4922 12.2882 63.7891 14.3196 64 16.7973C64.1641 18.6979 64.2656 20.7447 64.3281 22.7915C64.3516 23.5071 64.3594 24.1765 64.3672 24.769C64.3672 24.9768 64.375 25.1614 64.375 25.3153V25.6847ZM28.0469 35.8109L46.1719 25.4231L28.0469 15.1891V35.8109Z" fill="white"/>
                </svg>
            </a>
             <a href="https://www.linkedin.com/company/plastic-change/" aria-label="LinkedIn"> 
                <svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.4932 6.05803C10.4925 7.53137 9.93905 8.94408 8.95463 9.98537C7.97022 11.0267 6.63545 11.6112 5.24397 11.6105C3.85248 11.6098 2.51827 11.0238 1.53484 9.98144C0.551401 8.93911 -0.000695084 7.52581 6.56772e-07 6.05247C0.000696398 4.57913 0.554128 3.16642 1.53855 2.12513C2.52296 1.08384 3.85773 0.499264 5.24921 0.500001C6.6407 0.500737 7.97491 1.08673 8.95834 2.12906C9.94178 3.17139 10.4939 4.58468 10.4932 6.05803ZM10.6506 15.7242H0.157398V50.5H10.6506V15.7242ZM27.2298 15.7242H16.7891V50.5H27.1249V32.251C27.1249 22.0849 39.638 21.1405 39.638 32.251V50.5H50V28.4734C50 11.3355 31.4795 11.9744 27.1249 20.3906L27.2298 15.7242Z" fill="white"/>
                </svg>
            </a>   
            <a href="https://www.instagram.com/plasticchange" aria-label="Instagram">
                <svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5 0.5H35.5C43.5 0.5 50 7 50 15V36C50 39.8456 48.4723 43.5338 45.7531 46.2531C43.0338 48.9723 39.3456 50.5 35.5 50.5H14.5C6.5 50.5 0 44 0 36V15C0 11.1544 1.52767 7.46623 4.24695 4.74695C6.96623 2.02767 10.6544 0.5 14.5 0.5ZM14 5.5C11.6131 5.5 9.32387 6.44821 7.63604 8.13604C5.94821 9.82387 5 12.1131 5 14.5V36.5C5 41.475 9.025 45.5 14 45.5H36C38.3869 45.5 40.6761 44.5518 42.364 42.864C44.0518 41.1761 45 38.8869 45 36.5V14.5C45 9.525 40.975 5.5 36 5.5H14ZM38.125 9.25C38.9538 9.25 39.7487 9.57924 40.3347 10.1653C40.9208 10.7513 41.25 11.5462 41.25 12.375C41.25 13.2038 40.9208 13.9987 40.3347 14.5847C39.7487 15.1708 38.9538 15.5 38.125 15.5C37.2962 15.5 36.5013 15.1708 35.9153 14.5847C35.3292 13.9987 35 13.2038 35 12.375C35 11.5462 35.3292 10.7513 35.9153 10.1653C36.5013 9.57924 37.2962 9.25 38.125 9.25ZM25 13C28.3152 13 31.4946 14.317 33.8388 16.6612C36.183 19.0054 37.5 22.1848 37.5 25.5C37.5 28.8152 36.183 31.9946 33.8388 34.3388C31.4946 36.683 28.3152 38 25 38C21.6848 38 18.5054 36.683 16.1612 34.3388C13.817 31.9946 12.5 28.8152 12.5 25.5C12.5 22.1848 13.817 19.0054 16.1612 16.6612C18.5054 14.317 21.6848 13 25 13ZM25 18C23.0109 18 21.1032 18.7902 19.6967 20.1967C18.2902 21.6032 17.5 23.5109 17.5 25.5C17.5 27.4891 18.2902 29.3968 19.6967 30.8033C21.1032 32.2098 23.0109 33 25 33C26.9891 33 28.8968 32.2098 30.3033 30.8033C31.7098 29.3968 32.5 27.4891 32.5 25.5C32.5 23.5109 31.7098 21.6032 30.3033 20.1967C28.8968 18.7902 26.9891 18 25 18Z" fill="white"/>
                </svg>
            </a>
            <a href="https://www.facebook.com/plasticchange/" aria-label="Facebook">
                <svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 35 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.3333 29.25H31.6667L35 19.25H23.3333V14.25C23.3333 11.675 23.3333 9.25 30 9.25H35V0.85C33.9133 0.7425 29.81 0.5 25.4767 0.5C16.4267 0.5 10 4.6425 10 12.25V19.25H0V29.25H10V50.5H23.3333V29.25Z" fill="white"/>
                </svg>
            </a>
        </div>
        
</div>


<script>
    document.addEventListener("mousemove", (event) => {
        const cursorX = event.clientX;
        const cursorY = event.clientY;

        document.querySelectorAll<HTMLElement>(".follow_cursor").forEach((svg) => {
            // Hent SVG's nuværende position
            const svgX = svg.offsetLeft + svg.clientWidth / 2;
            const svgY = svg.offsetTop + svg.clientHeight / 2;
            
            // Beregn forskellen mellem cursoren og SVG'ens position
            const deltaX = cursorX - svgX;
            const deltaY = cursorY - svgY;

            // Sæt SVG's nye position med en forsinkelse
            svg.style.transform = `translate(${deltaX * 0.1}px, ${deltaY * 0.1}px)`;
        });
    });
</script>
