---
---
<!-- bølge svg med txt -->
<div class="relative md:h-48 md:w-auto h-32 md:mt-0 bg-[#E6F6FF]">
    <h3 class="text-center pl-9 pt-6 text-white text-lg font-normal md:text-2xl relative z-50 top-32 md:relative md:top-48 md:pl-0 md:pr-10">Tilmeld dig herunder til vores nyhedsbrev</h3>
    <div class="md:w-100% md:h-auto">
        <svg
            class="md:w-100% absolute bottom-0 left-0"
            viewBox="0 0 1726 514"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="transform: translateY(50%);"
        >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.06142 73.9725L1.80475e-05 509.026L1726.37 513.238L1727.46 66.6983C1617.95 65.6432 1518.12 77.6781 1439.66 94.3655C1235.26 137.838 1176.07 119.224 1055.99 81.4646C1006.95 66.0435 947.752 47.4291 864.363 28.5467C671.036 -15.2296 607.607 -0.463728 499.347 24.7385C446.571 37.0242 383.142 51.7901 288.817 63.4631C144.909 81.2723 72.9766 81.0968 1.06142 73.9725Z" fill="#013755"/>
        </svg>
    </div>
</div>

<!-- for at få bobler til at følge musen -->


<!-- footer uden bølger begynder her -->
<div class="w-full mx-auto p-10 md:p-0 text-white bg-[#013755] pt-20">
    <div class="flex flex-col-3 pt-8 md:flex md:flex-col-3 md:md:place-items-center md:px-24 md:relative md:top-[-100]">
     <!-- bobler på venstre side -->
      <div class="follow_cursor relative transition-transform duration-300 ease-out md:relative md:transition-transform md:duration-300 md:ease-out pl-1">
        <svg width="boble 100" height="120" class="md:w-72 md:h-72" viewBox="0 0 257 478" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M161.447 364.687C163.217 362.429 160.229 357.132 154.772 352.856C149.316 348.58 143.457 346.944 141.687 349.202C139.917 351.46 142.905 356.758 148.361 361.034C153.818 365.31 159.676 366.946 161.447 364.687Z" fill="url(#paint0_radial_197_904)"/>
            <path opacity="0.1" d="M240.297 317.975C240.297 324.226 239.226 330.208 237.251 335.789C229.919 356.541 210.112 371.418 186.844 371.418C163.576 371.418 143.773 356.546 136.436 335.789C134.461 330.208 133.391 324.226 133.391 317.975C133.391 288.465 157.324 264.536 186.839 264.536C216.354 264.536 240.287 288.465 240.287 317.975H240.297Z" fill="url(#paint1_radial_197_904)"/>
            <path opacity="0.15" d="M151.213 341.703C143.803 339.587 137.8 332.515 135.307 323.268C134.5 320.277 134.065 317.071 134.065 313.723C134.065 300.483 140.909 289.345 150.201 286.061C143.979 292.38 139.965 302.277 139.965 313.396C139.965 317.438 140.493 321.294 141.461 324.91C143.304 331.763 146.75 337.618 151.213 341.703Z" fill="url(#paint2_radial_197_904)"/>
            <path opacity="0.1" d="M210.674 281.921C220.534 284.013 229.01 292.698 233.096 304.535C234.416 308.367 235.277 312.511 235.58 316.88C236.777 334.152 228.858 349.308 217.029 354.435C224.576 345.628 228.917 332.354 227.91 317.843C227.543 312.57 226.507 307.585 224.913 302.956C221.892 294.183 216.862 286.857 210.674 281.926V281.921Z" fill="url(#paint3_radial_197_904)"/>
            <path style="mix-blend-mode:overlay" d="M186.35 375.744C217.92 375.744 243.513 350.155 243.513 318.591C243.513 287.026 217.92 261.438 186.35 261.438C154.78 261.438 129.187 287.026 129.187 318.591C129.187 350.155 154.78 375.744 186.35 375.744Z" fill="url(#paint4_radial_197_904)"/>
            <path d="M249.306 293.984C253.331 273.433 239.077 253.344 217.469 249.113C195.86 244.883 175.08 258.112 171.055 278.662C167.03 299.213 181.284 319.302 202.893 323.533C224.501 327.763 245.281 314.534 249.306 293.984Z" fill="url(#paint5_radial_197_904)"/>
            <path d="M163.59 288.094C170.523 288.094 176.143 282.475 176.143 275.543C176.143 268.611 170.523 262.992 163.59 262.992C156.657 262.992 151.037 268.611 151.037 275.543C151.037 282.475 156.657 288.094 163.59 288.094Z" fill="url(#paint6_radial_197_904)"/>
            <path d="M239.839 337.386C242.644 331.047 242.791 324.967 240.167 323.806C237.542 322.645 233.14 326.842 230.335 333.181C227.53 339.52 227.383 345.599 230.007 346.761C232.631 347.922 237.033 343.724 239.839 337.386Z" fill="url(#paint7_radial_197_904)"/>
            <path d="M59.6609 186.499C62.3406 183.08 57.8177 175.063 49.5587 168.59C41.2996 162.118 32.432 159.642 29.7523 163.06C27.0726 166.478 31.5955 174.496 39.8546 180.968C48.1136 187.441 56.9812 189.917 59.6609 186.499Z" fill="url(#paint8_radial_197_904)"/>
            <path opacity="0.1" d="M178.993 115.784C178.993 125.241 177.375 134.298 174.388 142.743C163.287 174.149 133.312 196.661 98.1024 196.661C62.8923 196.661 32.9175 174.149 21.8163 142.743C18.8296 134.298 17.2115 125.241 17.2115 115.784C17.2115 71.1233 53.4335 34.9028 98.1073 34.9028C142.781 34.9028 179.003 71.1184 179.003 115.784H178.993Z" fill="url(#paint9_radial_197_904)"/>
            <path opacity="0.15" d="M44.1703 151.697C32.9566 148.496 23.8644 137.788 20.0956 123.8C18.8735 119.274 18.2136 114.421 18.2136 109.353C18.2136 89.3144 28.5669 72.4578 42.6353 67.4873C33.2157 77.047 27.1445 92.0269 27.1445 108.859C27.1445 114.978 27.9412 120.814 29.4077 126.283C32.194 136.649 37.4147 145.514 44.1654 151.702L44.1703 151.697Z" fill="url(#paint10_radial_197_904)"/>
            <path opacity="0.1" d="M134.163 61.2217C149.087 64.3887 161.914 77.5309 168.097 95.4481C170.097 101.245 171.397 107.515 171.856 114.133C173.67 140.275 161.684 163.207 143.778 170.968C155.202 157.64 161.767 137.548 160.247 115.584C159.694 107.603 158.125 100.057 155.715 93.0533C151.14 79.7791 143.529 68.6847 134.163 61.2217Z" fill="url(#paint11_radial_197_904)"/>
            <path style="mix-blend-mode:overlay" d="M97.3545 203.22C145.134 203.22 183.867 164.494 183.867 116.723C183.867 68.9516 145.134 30.2256 97.3545 30.2256C49.5751 30.2256 10.8422 68.9516 10.8422 116.723C10.8422 164.494 49.5751 203.22 97.3545 203.22Z" fill="url(#paint12_radial_197_904)"/>
            <path d="M192.644 79.5016C198.735 48.4006 177.162 17.9975 144.458 11.5942C111.754 5.19089 80.3036 25.2123 74.212 56.3132C68.1204 87.4142 89.6941 117.817 122.398 124.221C155.102 130.624 186.552 110.603 192.644 79.5016Z" fill="url(#paint13_radial_197_904)"/>
            <path d="M62.907 70.5712C73.4008 70.5712 81.9077 62.0659 81.9077 51.5739C81.9077 41.082 73.4008 32.5767 62.907 32.5767C52.4133 32.5767 43.9064 41.082 43.9064 51.5739C43.9064 62.0659 52.4133 70.5712 62.907 70.5712Z" fill="url(#paint14_radial_197_904)"/>
            <path d="M178.307 145.171C182.553 135.577 182.776 126.374 178.803 124.617C174.831 122.859 168.168 129.212 163.922 138.807C159.676 148.401 159.453 157.604 163.426 159.361C167.398 161.119 174.06 154.766 178.307 145.171Z" fill="url(#paint15_radial_197_904)"/>
            <path d="M22.7859 469.587C24.0367 467.991 21.9277 464.251 18.0755 461.232C14.2233 458.213 10.0865 457.059 8.83573 458.654C7.58498 460.25 9.6939 463.99 13.5461 467.009C17.3984 470.028 21.5352 471.182 22.7859 469.587Z" fill="url(#paint16_radial_197_904)"/>
            <path opacity="0.1" d="M78.4369 436.617C78.4369 441.031 77.6841 445.253 76.2861 449.193C71.1094 463.845 57.1241 474.343 40.6996 474.343C24.2751 474.343 10.2898 463.84 5.11311 449.193C3.71996 445.253 2.96228 441.031 2.96228 436.617C2.96228 415.782 19.861 398.892 40.6947 398.892C61.5285 398.892 78.4272 415.787 78.4272 436.617H78.4369Z" fill="url(#paint17_radial_197_904)"/>
            <path opacity="0.15" d="M15.5446 453.372C10.3142 451.876 6.07117 446.886 4.31628 440.357C3.74924 438.245 3.44128 435.982 3.44128 433.617C3.44128 424.272 8.27088 416.408 14.8358 414.087C10.4413 418.549 7.61097 425.533 7.61097 433.387C7.61097 436.241 7.98247 438.964 8.66683 441.515C9.9671 446.353 12.4015 450.483 15.5495 453.372H15.5446Z" fill="url(#paint18_radial_197_904)"/>
            <path opacity="0.1" d="M57.525 411.164C64.4859 412.64 70.4691 418.774 73.3532 427.131C74.2868 429.834 74.893 432.761 75.1081 435.845C75.9537 448.039 70.3616 458.738 62.0124 462.359C67.3406 456.143 70.4056 446.769 69.6919 436.525C69.4328 432.801 68.6996 429.282 67.5802 426.017C65.444 419.825 61.8951 414.649 57.525 411.169V411.164Z" fill="url(#paint19_radial_197_904)"/>
            <path style="mix-blend-mode:overlay" d="M40.3574 477.408C62.6462 477.408 80.7149 459.342 80.7149 437.057C80.7149 414.772 62.6462 396.707 40.3574 396.707C18.0686 396.707 0 414.772 0 437.057C0 459.342 18.0686 477.408 40.3574 477.408Z" fill="url(#paint20_radial_197_904)"/>
            <path d="M84.8093 419.666C87.651 405.158 77.5878 390.976 62.3326 387.989C47.0775 385.002 32.4071 394.342 29.5655 408.85C26.7239 423.358 36.787 437.54 52.0422 440.527C67.2974 443.514 81.9677 434.174 84.8093 419.666Z" fill="url(#paint21_radial_197_904)"/>
            <path d="M24.2849 415.523C29.1795 415.523 33.1473 411.556 33.1473 406.663C33.1473 401.769 29.1795 397.802 24.2849 397.802C19.3903 397.802 15.4225 401.769 15.4225 406.663C15.4225 411.556 19.3903 415.523 24.2849 415.523Z" fill="url(#paint22_radial_197_904)"/>
            <path d="M78.1172 450.32C80.0979 445.845 80.2005 441.552 78.3464 440.732C76.4924 439.911 73.3837 442.874 71.4031 447.349C69.4224 451.824 69.3198 456.117 71.1739 456.937C73.0279 457.758 76.1366 454.795 78.1172 450.32Z" fill="url(#paint23_radial_197_904)"/>
            <defs>
            <radialGradient id="paint0_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(156.28 350.925) rotate(128.095) scale(5.14618 12.5522)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint1_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(186.844 317.975) scale(53.4482 53.4387)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint2_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(142.639 313.88) scale(20.5893 20.5857)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint3_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(223.183 318.176) scale(27.1249 27.1201)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint4_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(186.35 318.591) scale(57.1632 57.1532)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint5_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(208.552 285.592) rotate(101.082) scale(37.9037 39.9184)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint6_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(163.59 275.543) scale(12.553 12.5508)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint7_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(236.498 335.907) rotate(23.8663) scale(5.1466 12.5512)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint8_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.9765 169.341) rotate(128.095) scale(7.78941 18.9994)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint9_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(98.1024 115.784) scale(80.8957 80.8814)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint10_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(31.1968 109.592) scale(31.1626 31.1571)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint11_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(153.1 116.097) scale(41.0516 41.0443)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint12_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(97.3545 116.723) scale(86.5123 86.497)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint13_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(131.636 67.1822) rotate(101.082) scale(57.3722 60.4217)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint14_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(62.907 51.5739) scale(19.0006 18.9973)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint15_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(173.705 143.135) rotate(23.8663) scale(7.79004 18.9978)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint16_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.5016 456.853) rotate(128.095) scale(3.63319 8.86181)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint17_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(40.7045 436.617) scale(37.7324 37.7258)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint18_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(9.49294 433.729) scale(14.5377 14.5351)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint19_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(66.3581 436.759) scale(19.1522 19.1488)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint20_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(40.3574 437.057) scale(40.3574 40.3503)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint21_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(55.3931 413.484) rotate(101.082) scale(26.7599 28.1823)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint22_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24.2849 406.663) scale(8.8624 8.86083)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint23_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(77.0434 449.845) rotate(23.8663) scale(3.63349 8.8611)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
      </div>

     <!-- form -->
     <form class="pb-4 text-center place-items-center pl-3 pr-3">
        <div class="">
            <input type="text" class="w-52 h-10 md:w-96 md:h-12  bg-gray-100 text-black border-transparent rounded-md" id="navn" placeholder="Skriv din email her">
            <button class="w-52 md:w-60 h-10 md:h-12 bg-[#FF6F3C] py-1 text-darkblue rounded-md hover:text-white hover:scale-105">
                <p>Tilmeld</p>
            </button>
        </div> 
       </form>

       <!-- bobler på højre side -->
       <div class="follow_cursor ollow_cursor relative transition-transform duration-300 ease-out md:relative md:transition-transform md:duration-300 md:ease-out pl-2">
        <svg width="boble 110" height="120" class="md:w-72 md:h-72" viewBox="0 0 257 478" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M161.447 364.687C163.217 362.429 160.229 357.132 154.772 352.856C149.316 348.58 143.457 346.944 141.687 349.202C139.917 351.46 142.905 356.758 148.361 361.034C153.818 365.31 159.676 366.946 161.447 364.687Z" fill="url(#paint0_radial_197_904)"/>
            <path opacity="0.1" d="M240.297 317.975C240.297 324.226 239.226 330.208 237.251 335.789C229.919 356.541 210.112 371.418 186.844 371.418C163.576 371.418 143.773 356.546 136.436 335.789C134.461 330.208 133.391 324.226 133.391 317.975C133.391 288.465 157.324 264.536 186.839 264.536C216.354 264.536 240.287 288.465 240.287 317.975H240.297Z" fill="url(#paint1_radial_197_904)"/>
            <path opacity="0.15" d="M151.213 341.703C143.803 339.587 137.8 332.515 135.307 323.268C134.5 320.277 134.065 317.071 134.065 313.723C134.065 300.483 140.909 289.345 150.201 286.061C143.979 292.38 139.965 302.277 139.965 313.396C139.965 317.438 140.493 321.294 141.461 324.91C143.304 331.763 146.75 337.618 151.213 341.703Z" fill="url(#paint2_radial_197_904)"/>
            <path opacity="0.1" d="M210.674 281.921C220.534 284.013 229.01 292.698 233.096 304.535C234.416 308.367 235.277 312.511 235.58 316.88C236.777 334.152 228.858 349.308 217.029 354.435C224.576 345.628 228.917 332.354 227.91 317.843C227.543 312.57 226.507 307.585 224.913 302.956C221.892 294.183 216.862 286.857 210.674 281.926V281.921Z" fill="url(#paint3_radial_197_904)"/>
            <path style="mix-blend-mode:overlay" d="M186.35 375.744C217.92 375.744 243.513 350.155 243.513 318.591C243.513 287.026 217.92 261.438 186.35 261.438C154.78 261.438 129.187 287.026 129.187 318.591C129.187 350.155 154.78 375.744 186.35 375.744Z" fill="url(#paint4_radial_197_904)"/>
            <path d="M249.306 293.984C253.331 273.433 239.077 253.344 217.469 249.113C195.86 244.883 175.08 258.112 171.055 278.662C167.03 299.213 181.284 319.302 202.893 323.533C224.501 327.763 245.281 314.534 249.306 293.984Z" fill="url(#paint5_radial_197_904)"/>
            <path d="M163.59 288.094C170.523 288.094 176.143 282.475 176.143 275.543C176.143 268.611 170.523 262.992 163.59 262.992C156.657 262.992 151.037 268.611 151.037 275.543C151.037 282.475 156.657 288.094 163.59 288.094Z" fill="url(#paint6_radial_197_904)"/>
            <path d="M239.839 337.386C242.644 331.047 242.791 324.967 240.167 323.806C237.542 322.645 233.14 326.842 230.335 333.181C227.53 339.52 227.383 345.599 230.007 346.761C232.631 347.922 237.033 343.724 239.839 337.386Z" fill="url(#paint7_radial_197_904)"/>
            <path d="M59.6609 186.499C62.3406 183.08 57.8177 175.063 49.5587 168.59C41.2996 162.118 32.432 159.642 29.7523 163.06C27.0726 166.478 31.5955 174.496 39.8546 180.968C48.1136 187.441 56.9812 189.917 59.6609 186.499Z" fill="url(#paint8_radial_197_904)"/>
            <path opacity="0.1" d="M178.993 115.784C178.993 125.241 177.375 134.298 174.388 142.743C163.287 174.149 133.312 196.661 98.1024 196.661C62.8923 196.661 32.9175 174.149 21.8163 142.743C18.8296 134.298 17.2115 125.241 17.2115 115.784C17.2115 71.1233 53.4335 34.9028 98.1073 34.9028C142.781 34.9028 179.003 71.1184 179.003 115.784H178.993Z" fill="url(#paint9_radial_197_904)"/>
            <path opacity="0.15" d="M44.1703 151.697C32.9566 148.496 23.8644 137.788 20.0956 123.8C18.8735 119.274 18.2136 114.421 18.2136 109.353C18.2136 89.3144 28.5669 72.4578 42.6353 67.4873C33.2157 77.047 27.1445 92.0269 27.1445 108.859C27.1445 114.978 27.9412 120.814 29.4077 126.283C32.194 136.649 37.4147 145.514 44.1654 151.702L44.1703 151.697Z" fill="url(#paint10_radial_197_904)"/>
            <path opacity="0.1" d="M134.163 61.2217C149.087 64.3887 161.914 77.5309 168.097 95.4481C170.097 101.245 171.397 107.515 171.856 114.133C173.67 140.275 161.684 163.207 143.778 170.968C155.202 157.64 161.767 137.548 160.247 115.584C159.694 107.603 158.125 100.057 155.715 93.0533C151.14 79.7791 143.529 68.6847 134.163 61.2217Z" fill="url(#paint11_radial_197_904)"/>
            <path style="mix-blend-mode:overlay" d="M97.3545 203.22C145.134 203.22 183.867 164.494 183.867 116.723C183.867 68.9516 145.134 30.2256 97.3545 30.2256C49.5751 30.2256 10.8422 68.9516 10.8422 116.723C10.8422 164.494 49.5751 203.22 97.3545 203.22Z" fill="url(#paint12_radial_197_904)"/>
            <path d="M192.644 79.5016C198.735 48.4006 177.162 17.9975 144.458 11.5942C111.754 5.19089 80.3036 25.2123 74.212 56.3132C68.1204 87.4142 89.6941 117.817 122.398 124.221C155.102 130.624 186.552 110.603 192.644 79.5016Z" fill="url(#paint13_radial_197_904)"/>
            <path d="M62.907 70.5712C73.4008 70.5712 81.9077 62.0659 81.9077 51.5739C81.9077 41.082 73.4008 32.5767 62.907 32.5767C52.4133 32.5767 43.9064 41.082 43.9064 51.5739C43.9064 62.0659 52.4133 70.5712 62.907 70.5712Z" fill="url(#paint14_radial_197_904)"/>
            <path d="M178.307 145.171C182.553 135.577 182.776 126.374 178.803 124.617C174.831 122.859 168.168 129.212 163.922 138.807C159.676 148.401 159.453 157.604 163.426 159.361C167.398 161.119 174.06 154.766 178.307 145.171Z" fill="url(#paint15_radial_197_904)"/>
            <path d="M22.7859 469.587C24.0367 467.991 21.9277 464.251 18.0755 461.232C14.2233 458.213 10.0865 457.059 8.83573 458.654C7.58498 460.25 9.6939 463.99 13.5461 467.009C17.3984 470.028 21.5352 471.182 22.7859 469.587Z" fill="url(#paint16_radial_197_904)"/>
            <path opacity="0.1" d="M78.4369 436.617C78.4369 441.031 77.6841 445.253 76.2861 449.193C71.1094 463.845 57.1241 474.343 40.6996 474.343C24.2751 474.343 10.2898 463.84 5.11311 449.193C3.71996 445.253 2.96228 441.031 2.96228 436.617C2.96228 415.782 19.861 398.892 40.6947 398.892C61.5285 398.892 78.4272 415.787 78.4272 436.617H78.4369Z" fill="url(#paint17_radial_197_904)"/>
            <path opacity="0.15" d="M15.5446 453.372C10.3142 451.876 6.07117 446.886 4.31628 440.357C3.74924 438.245 3.44128 435.982 3.44128 433.617C3.44128 424.272 8.27088 416.408 14.8358 414.087C10.4413 418.549 7.61097 425.533 7.61097 433.387C7.61097 436.241 7.98247 438.964 8.66683 441.515C9.9671 446.353 12.4015 450.483 15.5495 453.372H15.5446Z" fill="url(#paint18_radial_197_904)"/>
            <path opacity="0.1" d="M57.525 411.164C64.4859 412.64 70.4691 418.774 73.3532 427.131C74.2868 429.834 74.893 432.761 75.1081 435.845C75.9537 448.039 70.3616 458.738 62.0124 462.359C67.3406 456.143 70.4056 446.769 69.6919 436.525C69.4328 432.801 68.6996 429.282 67.5802 426.017C65.444 419.825 61.8951 414.649 57.525 411.169V411.164Z" fill="url(#paint19_radial_197_904)"/>
            <path style="mix-blend-mode:overlay" d="M40.3574 477.408C62.6462 477.408 80.7149 459.342 80.7149 437.057C80.7149 414.772 62.6462 396.707 40.3574 396.707C18.0686 396.707 0 414.772 0 437.057C0 459.342 18.0686 477.408 40.3574 477.408Z" fill="url(#paint20_radial_197_904)"/>
            <path d="M84.8093 419.666C87.651 405.158 77.5878 390.976 62.3326 387.989C47.0775 385.002 32.4071 394.342 29.5655 408.85C26.7239 423.358 36.787 437.54 52.0422 440.527C67.2974 443.514 81.9677 434.174 84.8093 419.666Z" fill="url(#paint21_radial_197_904)"/>
            <path d="M24.2849 415.523C29.1795 415.523 33.1473 411.556 33.1473 406.663C33.1473 401.769 29.1795 397.802 24.2849 397.802C19.3903 397.802 15.4225 401.769 15.4225 406.663C15.4225 411.556 19.3903 415.523 24.2849 415.523Z" fill="url(#paint22_radial_197_904)"/>
            <path d="M78.1172 450.32C80.0979 445.845 80.2005 441.552 78.3464 440.732C76.4924 439.911 73.3837 442.874 71.4031 447.349C69.4224 451.824 69.3198 456.117 71.1739 456.937C73.0279 457.758 76.1366 454.795 78.1172 450.32Z" fill="url(#paint23_radial_197_904)"/>
            <defs>
            <radialGradient id="paint0_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(156.28 350.925) rotate(128.095) scale(5.14618 12.5522)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint1_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(186.844 317.975) scale(53.4482 53.4387)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint2_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(142.639 313.88) scale(20.5893 20.5857)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint3_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(223.183 318.176) scale(27.1249 27.1201)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint4_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(186.35 318.591) scale(57.1632 57.1532)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint5_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(208.552 285.592) rotate(101.082) scale(37.9037 39.9184)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint6_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(163.59 275.543) scale(12.553 12.5508)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint7_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(236.498 335.907) rotate(23.8663) scale(5.1466 12.5512)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint8_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.9765 169.341) rotate(128.095) scale(7.78941 18.9994)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint9_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(98.1024 115.784) scale(80.8957 80.8814)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint10_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(31.1968 109.592) scale(31.1626 31.1571)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint11_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(153.1 116.097) scale(41.0516 41.0443)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint12_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(97.3545 116.723) scale(86.5123 86.497)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint13_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(131.636 67.1822) rotate(101.082) scale(57.3722 60.4217)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint14_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(62.907 51.5739) scale(19.0006 18.9973)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint15_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(173.705 143.135) rotate(23.8663) scale(7.79004 18.9978)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint16_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(21.5016 456.853) rotate(128.095) scale(3.63319 8.86181)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint17_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(40.7045 436.617) scale(37.7324 37.7258)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint18_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(9.49294 433.729) scale(14.5377 14.5351)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint19_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(66.3581 436.759) scale(19.1522 19.1488)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint20_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(40.3574 437.057) scale(40.3574 40.3503)">
            <stop stop-color="white" stop-opacity="0"/>
            <stop offset="0.15" stop-color="white" stop-opacity="0.01"/>
            <stop offset="0.28" stop-color="white" stop-opacity="0.05"/>
            <stop offset="0.4" stop-color="white" stop-opacity="0.12"/>
            <stop offset="0.51" stop-color="white" stop-opacity="0.22"/>
            <stop offset="0.63" stop-color="white" stop-opacity="0.35"/>
            <stop offset="0.74" stop-color="white" stop-opacity="0.51"/>
            <stop offset="0.85" stop-color="white" stop-opacity="0.69"/>
            <stop offset="0.95" stop-color="white" stop-opacity="0.9"/>
            <stop offset="1" stop-color="white"/>
            </radialGradient>
            <radialGradient id="paint21_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(55.3931 413.484) rotate(101.082) scale(26.7599 28.1823)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint22_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24.2849 406.663) scale(8.8624 8.86083)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.08" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.19" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.29" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.39" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.49" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.57" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.64" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            <radialGradient id="paint23_radial_197_904" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(77.0434 449.845) rotate(23.8663) scale(3.63349 8.8611)">
            <stop stop-color="white" stop-opacity="0.9"/>
            <stop offset="0.06" stop-color="#CAD5DC" stop-opacity="0.71"/>
            <stop offset="0.14" stop-color="#8DA6B4" stop-opacity="0.5"/>
            <stop offset="0.21" stop-color="#5A7E93" stop-opacity="0.32"/>
            <stop offset="0.28" stop-color="#336079" stop-opacity="0.18"/>
            <stop offset="0.35" stop-color="#174967" stop-opacity="0.08"/>
            <stop offset="0.41" stop-color="#053C5B" stop-opacity="0.02"/>
            <stop offset="0.46" stop-color="#003858" stop-opacity="0"/>
            </radialGradient>
            </defs>
            </svg>
       </div>



    </div>
   
           <!-- SoMe ikoner -->
        <div class="flex justify-center space-x-8 pt-14 pb-4 md:pb-10 md:pt-10 md:flex md:flex-col-5 md:space-x-14">
            <a href="https://x.com/i/flow/login?redirect_after_login=%2Fplasticchange">
                <svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                 <path d="M39.3771 0.5H47.0437L30.2937 21.6819L50 50.5H34.5708L22.4875 33.0197L8.65833 50.5H0.9875L18.9042 27.8429L0 0.502305H15.8208L26.7437 16.4798L39.3771 0.5ZM36.6875 45.4246H40.9354L13.5125 5.31031H8.95417L36.6875 45.4246Z" fill="white"/></svg>
            </a>
            <a href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"><svg width="35" height="36" class="md:w-10 md:h-10" viewBox="0 0 70 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M70 25.2845C70 25.1153 70 24.9229 69.9922 24.6998C69.9844 24.0765 69.9688 23.3763 69.9531 22.6299C69.8906 20.4831 69.7812 18.344 69.6094 16.3279C69.375 13.5502 69.0312 11.2341 68.5625 9.49507C68.0678 7.68028 67.0982 6.02515 65.7505 4.69511C64.4029 3.36507 62.7244 2.40671 60.8828 1.91582C58.6719 1.33102 54.3438 0.969375 48.25 0.746229C45.3516 0.638504 42.25 0.569252 39.1484 0.530778C38.0625 0.515389 37.0547 0.507695 36.1484 0.5H33.8516C32.9453 0.507695 31.9375 0.515389 30.8516 0.530778C27.75 0.569252 24.6484 0.638504 21.75 0.746229C15.6562 0.97707 11.3203 1.33872 9.11719 1.91582C7.27501 2.4055 5.59585 3.36346 4.248 4.69369C2.90015 6.02391 1.93094 7.67969 1.4375 9.49507C0.960938 11.2341 0.625 13.5502 0.390625 16.3279C0.21875 18.344 0.109375 20.4831 0.0468749 22.6299C0.0234374 23.3763 0.0156249 24.0765 0.00781238 24.6998C0.00781238 24.9229 0 25.1153 0 25.2845V25.7154C0 25.8847 -1.19326e-07 26.0771 0.00781238 26.3002C0.0156249 26.9235 0.0312499 27.6237 0.0468749 28.3701C0.109375 30.5169 0.21875 32.656 0.390625 34.6721C0.625 37.4498 0.96875 39.7659 1.4375 41.5049C2.4375 45.1907 5.375 48.0993 9.11719 49.0842C11.3203 49.669 15.6562 50.0306 21.75 50.2538C24.6484 50.3615 27.75 50.4307 30.8516 50.4692C31.9375 50.4846 32.9453 50.4923 33.8516 50.5H36.1484C37.0547 50.4923 38.0625 50.4846 39.1484 50.4692C42.25 50.4307 45.3516 50.3615 48.25 50.2538C54.3438 50.0229 58.6797 49.6613 60.8828 49.0842C64.625 48.0993 67.5625 45.1984 68.5625 41.5049C69.0391 39.7659 69.375 37.4498 69.6094 34.6721C69.7812 32.656 69.8906 30.5169 69.9531 28.3701C69.9766 27.6237 69.9844 26.9235 69.9922 26.3002C69.9922 26.0771 70 25.8847 70 25.7154V25.2845ZM64.375 25.6847C64.375 25.8463 64.375 26.0232 64.3672 26.231C64.3594 26.8312 64.3438 27.4929 64.3281 28.2085C64.2734 30.2553 64.1641 32.3021 64 34.2027C63.7891 36.6804 63.4922 38.7118 63.125 40.0737C62.6406 41.8512 61.2188 43.2593 59.4219 43.7287C57.7812 44.1596 53.6484 44.5058 48.0312 44.7136C45.1875 44.8213 42.125 44.8906 39.0703 44.9291C38 44.9444 37.0078 44.9521 36.1172 44.9521H33.8828L30.9297 44.9291C27.875 44.8906 24.8203 44.8213 21.9688 44.7136C16.3516 44.4981 12.2109 44.1596 10.5781 43.7287C8.78125 43.2516 7.35938 41.8512 6.875 40.0737C6.50781 38.7118 6.21094 36.6804 6 34.2027C5.83594 32.3021 5.73438 30.2553 5.67188 28.2085C5.64844 27.4929 5.64063 26.8235 5.63281 26.231C5.63281 26.0232 5.625 25.8386 5.625 25.6847V25.3153C5.625 25.1537 5.625 24.9768 5.63281 24.769C5.64063 24.1688 5.65625 23.5071 5.67188 22.7915C5.72656 20.7447 5.83594 18.6979 6 16.7973C6.21094 14.3196 6.50781 12.2882 6.875 10.9263C7.35938 9.14882 8.78125 7.74069 10.5781 7.27131C12.2188 6.84041 16.3516 6.49415 21.9688 6.28639C24.8125 6.17867 27.875 6.10942 30.9297 6.07094C32 6.05555 32.9922 6.04786 33.8828 6.04786H36.1172L39.0703 6.07094C42.125 6.10942 45.1797 6.17867 48.0312 6.28639C53.6484 6.50184 57.7891 6.84041 59.4219 7.27131C61.2188 7.74838 62.6406 9.14882 63.125 10.9263C63.4922 12.2882 63.7891 14.3196 64 16.7973C64.1641 18.6979 64.2656 20.7447 64.3281 22.7915C64.3516 23.5071 64.3594 24.1765 64.3672 24.769C64.3672 24.9768 64.375 25.1614 64.375 25.3153V25.6847ZM28.0469 35.8109L46.1719 25.4231L28.0469 15.1891V35.8109Z" fill="white"/>
                </svg></a>
             <a href="https://www.linkedin.com/company/plastic-change/"><svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.4932 6.05803C10.4925 7.53137 9.93905 8.94408 8.95463 9.98537C7.97022 11.0267 6.63545 11.6112 5.24397 11.6105C3.85248 11.6098 2.51827 11.0238 1.53484 9.98144C0.551401 8.93911 -0.000695084 7.52581 6.56772e-07 6.05247C0.000696398 4.57913 0.554128 3.16642 1.53855 2.12513C2.52296 1.08384 3.85773 0.499264 5.24921 0.500001C6.6407 0.500737 7.97491 1.08673 8.95834 2.12906C9.94178 3.17139 10.4939 4.58468 10.4932 6.05803ZM10.6506 15.7242H0.157398V50.5H10.6506V15.7242ZM27.2298 15.7242H16.7891V50.5H27.1249V32.251C27.1249 22.0849 39.638 21.1405 39.638 32.251V50.5H50V28.4734C50 11.3355 31.4795 11.9744 27.1249 20.3906L27.2298 15.7242Z" fill="white"/>
                </svg></a>   
            <a href="https://www.instagram.com/plasticchange"><svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.5 0.5H35.5C43.5 0.5 50 7 50 15V36C50 39.8456 48.4723 43.5338 45.7531 46.2531C43.0338 48.9723 39.3456 50.5 35.5 50.5H14.5C6.5 50.5 0 44 0 36V15C0 11.1544 1.52767 7.46623 4.24695 4.74695C6.96623 2.02767 10.6544 0.5 14.5 0.5ZM14 5.5C11.6131 5.5 9.32387 6.44821 7.63604 8.13604C5.94821 9.82387 5 12.1131 5 14.5V36.5C5 41.475 9.025 45.5 14 45.5H36C38.3869 45.5 40.6761 44.5518 42.364 42.864C44.0518 41.1761 45 38.8869 45 36.5V14.5C45 9.525 40.975 5.5 36 5.5H14ZM38.125 9.25C38.9538 9.25 39.7487 9.57924 40.3347 10.1653C40.9208 10.7513 41.25 11.5462 41.25 12.375C41.25 13.2038 40.9208 13.9987 40.3347 14.5847C39.7487 15.1708 38.9538 15.5 38.125 15.5C37.2962 15.5 36.5013 15.1708 35.9153 14.5847C35.3292 13.9987 35 13.2038 35 12.375C35 11.5462 35.3292 10.7513 35.9153 10.1653C36.5013 9.57924 37.2962 9.25 38.125 9.25ZM25 13C28.3152 13 31.4946 14.317 33.8388 16.6612C36.183 19.0054 37.5 22.1848 37.5 25.5C37.5 28.8152 36.183 31.9946 33.8388 34.3388C31.4946 36.683 28.3152 38 25 38C21.6848 38 18.5054 36.683 16.1612 34.3388C13.817 31.9946 12.5 28.8152 12.5 25.5C12.5 22.1848 13.817 19.0054 16.1612 16.6612C18.5054 14.317 21.6848 13 25 13ZM25 18C23.0109 18 21.1032 18.7902 19.6967 20.1967C18.2902 21.6032 17.5 23.5109 17.5 25.5C17.5 27.4891 18.2902 29.3968 19.6967 30.8033C21.1032 32.2098 23.0109 33 25 33C26.9891 33 28.8968 32.2098 30.3033 30.8033C31.7098 29.3968 32.5 27.4891 32.5 25.5C32.5 23.5109 31.7098 21.6032 30.3033 20.1967C28.8968 18.7902 26.9891 18 25 18Z" fill="white"/>
                </svg></a>
            <a href="https://www.facebook.com/plasticchange/"><svg width="30" height="31" class="md:w-8 md:h-8" viewBox="0 0 35 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.3333 29.25H31.6667L35 19.25H23.3333V14.25C23.3333 11.675 23.3333 9.25 30 9.25H35V0.85C33.9133 0.7425 29.81 0.5 25.4767 0.5C16.4267 0.5 10 4.6425 10 12.25V19.25H0V29.25H10V50.5H23.3333V29.25Z" fill="white"/>
                </svg></a>
        </div>
        
</div>


<script>
    document.addEventListener("mousemove", (event) => {
    const cursorX = event.clientX;
    const cursorY = event.clientY;

    document.querySelectorAll(".follow_cursor").forEach((svg) => {
        // Hent SVG's nuværende position
        const svgX = svg.offsetLeft + svg.clientWidth / 2;
        const svgY = svg.offsetTop + svg.clientHeight / 2;
        
        // Beregn forskellen mellem cursoren og SVG'ens position
        const deltaX = cursorX - svgX;
        const deltaY = cursorY - svgY;

        // Sæt SVG's nye position med en forsinkelse
        svg.style.transform = `translate(${deltaX * 0.1}px, ${deltaY * 0.1}px)`;
    });
});
</script>