---
---

<section>

    <div class="margin"></div>

    <section class="parallax">
<div class="parallax-inner">
    <div class="bg-white opacity-90 mx-96 w-20% text-center">
        <h1>Bidrag her</h1>
    </div>
</div>
<div class="parallax-inner">
    <div>
        <h1>Skriv under</h1>
        </div>
</div>

    </section>
    <div class="margin"></div>
</section>

<style>
   

    .parallax{
        background: url(src/assets/images/formularbaggrund.jpg) no-repeat fixed ;
        background-size: cover;
    }

    .parallax-inner{
        padding-top: 20%;
        padding-bottom: 20%;
    }
</style>