---
---

<section>

    <div class="margin"></div>

    <section class="parallax">
<div class="parallax-inner">
    <div class="bg-white opacity-90 mx-96 p-8 rounded-md">
        <h1 class="text-darkblue text-center text-7xl">Bidrag her</h1>
        <p class="">Du kan beskytte naturen, dyrelivet og vores børn mod plastik, ved at bidrage til os herunder.  </p>
    </div>
</div>
<div class="parallax-inner">
    <div>
        <h1>Skriv under</h1>
        </div>
</div>

    </section>
    <div class="margin"></div>
</section>

<style>
   

    .parallax{
        background: url(src/assets/images/formularbaggrund.jpg) no-repeat fixed ;
        background-size: cover;
    }

    .parallax-inner{
        padding-top: 20%;
        padding-bottom: 20%;
    }
</style>