---
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import "../styles/tobii.min.css"; 
import { animate } from 'motion';
---

<section class="container">
<h2>Hvordan skaber Plastic Change en forskel?</h2>

</section>