---
import Button from './Button.astro';
import Link from '../components/Link.astro';
import { animate } from 'motion';
---

<nav x-data="{ isOpen: false }" class="w-full flex items-center justify-between p-4  top-0 z-50 mb-10">
    <header x-data="{ bobble: false }" x-init="bobble = true" class="w-full flex justify-left items-start py-4">
        <img 
            src="/logo.png" 
            alt="Logo" 
            class="h-24 w-auto" 
            @mouseenter="bobble = !bobble" 
            :class="bobble ? 'animate-bobble' : ''">
    </header>    
    
    <div class="block md:hidden">
        <button 
            @click="isOpen = !isOpen" 
            class="text-white focus:outline-none">
            <svg x-show="!isOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
            <svg x-show="isOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div x-show="isOpen" @click.away="isOpen = false" class="absolute top-16 left-0 w-full bg-gray-800 transition-transform duration-300">
        <div class="flex flex-col space-y-4 p-4">
            <Link href="/" class="text-white">Hjem</Link>
            <Link href="/om" class="text-white">Om</Link>
            <Link href="/kontakt" class="text-white">Kontakt</Link>
        </div>
    </div>
    <div class="hidden md:flex space-x-4">
        <Link href="/" class="text-white">Hjem</Link>
        <Link href="/om" class="text-white">Om</Link>
        <Link href="/kontakt" class="text-white">Kontakt</Link>
    </div>
</nav>

<section class="w-full mx-auto mt-20 flex flex-col justify-center items-center text-center mb-20 pt-10 pb-10" id="titel" style="display: block !important;">
    <h1 id="entrance-header" class="pb-3 text-xl md:text-9xl font-bold bg-clip-text animate__animated animate__fadeIn">
        #SingleUseSucks
    </h1>
    <h2 id="entrance-header" class="pb-3 text-lg md:text-5xl font-bold bg-clip-text animate__animated animate__fadeIn">
        Beskyt vores verden mod plastikforurening nu
    </h2>
    <p class="text-lg md:text-xl">Eksempel på header</p>
</section>

<div class="flex-grow fixed right-8 bottom-8">
    <Button>Bidrag nu!</Button>
</div>

<script>
    import { animate, scroll, inView } from '@motionone/dom';
</script>

<script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.min.js"></script>

