---
---
<section class="w-full mx-auto mt-20 flex flex-col justify-center items-center text-center mb-20 pt-10 pb-10" id="titel" style="display: block !important;">
    <h2 id="entrance-header" class="pb-3 text-xl md:text-9xl font-bold bg-clip-text animate__animated animate__fadeIn">
        #SingleUseSucks
    </h2>
    <p class="text-lg md:text-xl text-gray-700">Eksempel på header</p>
</section> 

<script>
    import { animate, scroll, inView } from '@motionone/dom';
</script>
