---
import Button from './Button.astro';
import Link from '../components/Link.astro';
import { animate } from 'motion';
---

<nav x-data="{ isOpen: false }" class="w-full flex sticky items-center justify-between p-4 top-0 z-100" >
    <header x-data="{ bobble: false }" x-init="bobble = true" class="w-full flex justify-left items-start py-4">
        <img 
            src="/logo.png" 
            alt="Logo" 
            class="h-24 w-auto" 
            @mouseenter="bobble = !bobble" 
            :class="bobble ? 'animate-bobble' : ''">
    </header>    
</nav>

<div class="flex-grow fixed right-8 bottom-8">
    <Button>Bidrag nu!</Button>
</div>

<script>
  
</script>

<script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.min.js"></script>

