---
import Button from './Button.astro';
import Link from '../components/Link.astro';
import { animate } from 'motion';
---

<div class="flex-grow fixed right-8 bottom-8 z-20 animate-pulse">
    <Button>Bidrag nu!</Button>
</div>

<script>
  
</script>

<script src="https://cdn.jsdelivr.net/npm/motion@latest/dist/motion.min.js"></script>

