---

---


	<section class="grid grid-cols-5 grid-rows-5 ">
		
		<img src="src/assets/images/herobaggrund.jpg" class="col-start-1 col-span-5 row-start-1 row-span-5 z-0">
		<img src="src/assets/images/heroturtle.png" class="col-start-4 col-span-2 row-start-2 row-span-2 vibrate-3 z-10">
		
		<div class="col-span-5 lg:col-start-2 lg:col-span-2 lg:row-start-4 lg:row-span-2 z-20">
			<h1 class="text-7xl inline">#SingleUseSucks</h1><br>
			<h2 class="text-3xl  inline">Beskyt vores verden mod plastikforurening nu!</h2>
		</div>
	</section>


