---

---

<!-- Ny knap -->
<button id="new-button" class="button h-12 w-40  rounded-lg flex items-center justify-center transition-transform duration-300 hover:scale-110" aria-label="Ny orange knap">
    <slot />
</button>