---

---

<!-- Ny knap -->
<button id="new-button" class="button new-button h-16 w-60 rounded-xl flex items-center justify-center transition-transform duration-300 hover:scale-110" aria-label="Ny orange knap">
    <slot />
</button>