---
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import lastbil from "../assets/images/lastbil.svg";
import skrald from "../assets/images/skrald.svg";
import flaske from "../assets/images/flaske.svg";
import "../styles/tobii.min.css"; 
import { animate } from 'motion';
---
 

<!-- div for hele afsnittet -->

<section class="bg-[#013755] w-screen parallaxgrafik">
    <h1 class="p-10 md:text-8xl sticky text-end text-white text-[60px] pr-8 pt-52 md:order-1 md:pr-32 md:text-[110px] md:pl-20 md:top-0 right-8 w-100% animate__animated animate__fadeInRight">Hvad er <br> plastik - <br> foruening</h1>

    <!-- grid med lastbil, skrald og h1 -->
    <div class="md:grid md:grid-cols-2 md:px-44 md:gap-16 bg-cover bg-fixed bg-center grid grid-cols-12 overflow-hidden">
            <!-- container med lastbil og skrald til animation -->
        <div class="">
            <!-- skrald -->
        <div class="">
            <div class="w-[600%] relative top-52 left-20 md:w-60 md:relative md:left-28 md:top-44">
                <Image src={skrald} alt="" class="col-start-3 col-span-2 parallaxgrafik3" />
            </div>
            <div class="w-[600%] relative top-52 left-8 md:w-56 md:relative md:left-12 md:top-32">
                <Image src={skrald} alt="" class="col-start-3 col-span-2 parallaxgrafik3"/>
            </div>
        </div>
    
              <!-- lastbil -->
        <div class="pt-20 relative w-screen md:w-full">
            <div class="mt-8 md:pb-32 w-full pb-28">
                <Image src={lastbil} alt="vektorgrafik af lastbil" class="md:col-start-3 col-span-2 parallaxgrafik3"/>
            </div>
            </div>
        </div>
    </div>
    <div class="text-white py-8 px-16 md:grid md:grid-cols-2 md:p-20 md:relative md:top-0">
        <p class="text-center font-light md:text-xl animate__animated animate__zoomIn">I dag udleder vi <span class="font-bold">8-10 mio ton</span> plastik til havet. Det svarer til <span class="font-bold">1 lastbil</span> med plastik, der tømmes <span class="font-bold">hvert minut!</span></p>
    </div>


     <!-- datavis 2 flaske -->
 <section class="parallaxgrafik bg-[#013755] pb-20 pt-16 md:pl-20">
    <div class="center mt-8 w-screen h-[550px] md:grid grid-cols-12 overflow-hidden md:py-32">
        <Image src={flaske} alt="plastikflaske med fisk og skrald" class="col-start-1 col-span-5 parallaxgrafik1 "/>
    </div>

    <div class="text-white py-8 px-16 md:grid md:grid-cols-2 md:px-0 pb-20">
        <p class="text-center font-light md:text-xl animate__animated animate__zoomIn"> <span class="font-bold">5 % af det plastik</span> vi udleder flyder i overfladen, <span class="font-bold">mens 95% af det resterende plastik</span> ligger længere nede i vandsøjlen. </p>
    </div>
 </section>

 </section>


   
    <script>
        import { animate, stagger, inView, scroll, timeline } from "motion";
        scroll(animate(".parallaxgrafik3", { x: [-1880, 2000], y: [200, 0] }), {
    target: document.querySelector(".parallaxgrafik"), offset: ["start end", "end start"]
    });

    scroll(animate(".parallaxgrafik1", { y: [1650, -900] }), {
        target: document.querySelector(".parallaxgrafik"), offset: ["start end", "end start"]
    });
    </script>

























